@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
@import './variables';
@import './scrollbar.scss';

* {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-link {
  text-decoration: none;
}

.slider-bottom-primary {
  border-bottom: 3px solid var(--primary-text) !important;
}

.slider-bottom-white {
  border-bottom: 3px solid var(--primary-text) !important;
}
