<template>
  <section id="sobre-mim" class="jumbotron text-center bg-primary pa-5">
    <v-container>
      <v-row justify="center" align="center">
        <h2 class="primary-text slider-bottom-white">SOBRE MIM</h2>
      </v-row>
      <p class="mt-3 primary-text">
        {{ getAbout.text }}
      </p>
      <h4>SKILLS</h4>
      <v-list>
        <v-list-item v-for="item in getAbout.skills" :key="item">
          <v-list-item-content>
            <v-list-item-title>
              {{ item }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-container>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AboutMe',

  computed: {
    ...mapGetters(['getAbout'])
  }
}
</script>
