<template>
  <section id="contato">
    <v-container>
      <v-row justify="center" align="center" class="mt-3">
        <h2 class="slider-bottom-primary text-primary">CONTATO</h2>
      </v-row>
      <v-row justify="center" align="center">
        <v-col cols="12" sm="12" md="6" align="center">
          <div v-for="(item, i) in getContacts" :key="i" class="mt-2">
            <v-icon>{{ item.icon }}</v-icon>
            <a :href="item.link" target="_blank" class="black--text ml-2">{{ item.value }}</a>
          </div>
        </v-col>
      </v-row>

      <h4>COMPARTILHAR</h4>
      <v-btn v-for="item in share" :key="item.title" :title="item.title" @click="() => { onShare(item.type) }" icon>
        <v-icon>{{ item.icon }}</v-icon>
      </v-btn>
    </v-container>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Contact',

  data: () => ({
    share: [
      {
        title: "Whatsapp",
        icon: "mdi-whatsapp",
        type: "whatsapp"
      },{
        title: "Telegram",
        icon: "mdi-telegram",
        type: "telegram"
      },{
        title: "Linkedin",
        icon: "mdi-linkedin",
        type: "linkedin"
      },{
        title: "Twitter",
        icon: "mdi-twitter",
        type: "twitter"
      },{
        title: "Facebook",
        icon: "mdi-facebook",
        type: "facebook"
      },{
        title: "E-mail",
        icon: "mdi-email",
        type: "email"
      }
    ]
  }),

  methods: {
    onShare(type) {
      let title = "Meu Portfolio"
      let text = "Venha conhecer meu portfolio"
      let url = window.location.href

      if(type == "whatsapp")
        url = `https://wa.me/?text=${text} ${url}`
      else if(type == "facebook")
        url = `https://www.facebook.com/sharer/sharer.php?u=${text} ${url}`
      else if(type == "twitter")
        url = `https://twitter.com/intent/tweet?url=${url}&text=${text}`
      else if(type == "linkedin")
        url = `https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${text}&summary=${text}`
      else if(type == "telegram")
        url = `https://telegram.me/share/url?url=${url}&text=${text}`
      else if(type == "email")
        url = `mailto:?subjetc=${title}&body=${text} ${url}`

      window.open(url, "_blank")
    }
  },

  computed: {
    ...mapGetters(['getContacts'])
  }
}
</script>
