<template>
  <v-footer
    dark
    padless
    class="mt-3"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title>
        <v-spacer></v-spacer>

        <a v-for="item in getSocial" :key="item.title" :href="item.link" class="text-link pa-2" target="_blank" :title="item.title">
          <v-icon size="30">{{ item.icon }}</v-icon>
        </a>
      </v-card-title>

      <v-card-text class="py-2 text-center">
        {{ new Date().getFullYear() }} — <strong>MEU PORTFOLIO</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Footer',

  computed: {
    ...mapGetters(['getSocial'])
  }
}
</script>
