<template>
  <nav>
    <v-app-bar :color="getNavbarColor" dark app>
      <v-app-nav-icon class="mr-1">
        <v-icon>mdi-circle</v-icon>
      </v-app-nav-icon>
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">Meu Portfolio</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <template v-if="!getMobile">
        <v-btn v-for="item in items" :key="item.text" :href="item.to" text>
          <span>{{ item.text }}</span>
        </v-btn>
      </template>
      <template v-else>
          <v-menu
            offset-y
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-menu</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="item in items"
                :key="item.text"
                :href="item.to"
                active-class="active"
                @click="() => {}"
              >
                <v-list-item-title>{{ item.text }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
      </template>
    </v-app-bar>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CoreNavbar',

  data: () => ({
    items: [
      {
        text: 'Projetos',
        to: '#projetos'
      },{
        text: 'Sobre',
        to: '#sobre-mim'
      },{
        text: 'Contato',
        to: '#contato'
      }
    ]
  }),

  computed: {
    ...mapGetters('app', ['getNavbarColor', 'getMobile'])
  }
}
</script>

<style lang="scss" scoped>
  .active {
    border-left: 4px solid grey;
  }
</style>
