<template>
  <div>
    <section class="jumbotron text-center bg-primary pa-5">
      <v-cotainer>
        <img class="photo-perfil" :src="getPhoto" width="200" height="200" alt="Photo">
        <h1 class="primary-text">{{ getName }}</h1>
        <p class="primary-text">{{ getJob }}</p>
        <div class="mt-3">
          <a v-for="item in getSocial" :key="item.title" :href="item.link" class="text-link pa-2" target="_blank" :title="item.title">
            <v-icon size="30">{{ item.icon }}</v-icon>
          </a>
        </div>
      </v-cotainer>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Jumbotron',

  computed: {
    ...mapGetters(['getName', 'getJob', 'getSocial', 'getPhoto'])
  }
}
</script>

<style lang="scss" scoped>
  .photo-perfil {
    border-radius: 50%;
  }

  .social-icon {
    font-size: 1.25em;
  }
</style>
