<template>
  <section id="projetos">
    <v-container>
      <v-row justify="center" align="center" class="mt-3">
        <h2 class="slider-bottom-primary text-primary">PROJETOS</h2>
      </v-row>
      <v-row class="mt-3">
        <v-col v-for="(item, i) in projects" :key="i" cols="12" sm="12" md="4">
          <v-card
            class="mx-auto"
            width="344"
            max-width="344"
          >
            <v-img
              :src="item.image"
              height="200px"
            />

            <v-card-title>
              {{ item.title }}
            </v-card-title>

            <v-card-subtitle>
              Added in {{ item.date }}
            </v-card-subtitle>

            <v-card-actions>
              <a href="" class="ml-3 text-link" target="_blank" title="Abrir no Github">
                <v-icon>mdi-github</v-icon>
              </a>

              <v-spacer></v-spacer>

              <v-btn
                icon
                @click="item.show = !item.show"
              >
                <v-icon>{{ item.show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="item.show">
                <v-divider></v-divider>

                <v-card-text>
                 {{ item.description }}
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Projects',

  data: () => ({
    projects: new Array()
  }),

  computed: {
    ...mapGetters(['getProjects'])
  },

  methods: {
    start() {
      for(let project of this.getProjects) {
        this.projects.push({
          ...project,
          show: false
        })
      }
    }
  },

  mounted() {
    this.start()
  }
}
</script>
