<template>
  <div>
    <CoreNavbar />
    <Perfil />
    <Projects />
    <AboutMe />
    <Contact />
    <Footer />
  </div>
</template>

<script>
export default {
  name: 'Home',

  components: {
    CoreNavbar: () => import('@/components/site/Navbar'),
    Perfil: () => import('@/components/site/Perfil'),
    Projects: () => import('@/components/site/Projects'),
    AboutMe: () => import('@/components/site/AboutMe'),
    Contact: () => import('@/components/site/Contact'),
    Footer: () => import('@/components/site/Footer')
  },

  data: () => ({

  })
}
</script>
