<template>
  <v-app>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'App',
  
  data: () => ({
    
  }),

  computed: {
    ...mapGetters('app', ['getMobile'])
  },

  methods: {
    ...mapActions('app', ['setMobile']),

    onResize() {
      let isMobile = window.innerWidth < 600
      if(isMobile && !this.getMobile) this.setMobile(true)
      else if(!isMobile && this.getMobile) this.setMobile(false)
    }
  },

  mounted() {
    this.onResize()
    
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize)
    })
  }
}
</script>

<style lang="scss">
  @import '@/assets/scss/app.scss';
</style>
